body{
  background-color: black;
  color: whitesmoke;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid white; /* Add a white border to the table */
}

th {
  /* background-color: #f5f5f5; Optional: Add a background color to the header row */
  border: 2px solid white; /* Add a white border to the table header cells */
}

th, td {
  padding: 10px; /* Add padding to the table cells for better spacing */
}

